---
import StudiesIcon from "../icons/StudiesIcon.astro";
import Badge from "./Badge.astro";

const studies = [
    {
        degree: "CFGS | Multiplatform Application Development",
        institution: "Institut Sabadell",
        year: "2025 - Present",
        details:
            "I'm currently in my first year of advanced degree in cross-platform application development. I'm learning OOP with Java, relational databases with SQL, and agile methodologies for modern software development.",
    },
    {
        degree: "CFGM | Microcomputer Systems and Networks",
        institution: "Institut Sabadell",
        year: "2023 - 2025",
        details:
            "I completed the first and second years of intermediate computer science, where I learned how to assemble and configure computers, as well as configure networks and servers. I also completed projects in HTML, CSS, and advanced office automation skills.",
    },
];
---

<section id="studies">
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-20">
        <div class="flex items-center justify-center mb-5">
            <Badge text="Studies" icon={StudiesIcon} />
            <Badge
                text="Studies"
                className="absolute blur-xs -z-1 animate-pulse"
                icon={StudiesIcon}
            />
        </div>
        <div class="space-y-8">
            {
                studies.map((study) => (
                    <div
                        class="bg-black/20 dark:bg-black/10 border border-black/10 dark:border-white/10 
                    shadow-xl rounded-lg p-6 
                    hover:scale-102 transition-transform duration-400"
                    >
                        <h3 class="text-xl font-semibold mb-2 dark:text-gray-100 text-[#141414]">
                            {study.degree}
                        </h3>
                        <p class="text-sm italic mb-1 dark:text-gray-300 text-gray-600">
                            {study.institution} | {study.year}
                        </p>
                        <p class="text-black/60 dark:text-white/60">
                            {study.details}
                        </p>
                    </div>
                ))
            }
        </div>
    </div>
</section>
